@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body, html{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 14px;
}
body{
	margin: 0;
	display: block;
}
div{
	display: block;
}
*{
	box-sizing: border-box;
}

@media (min-width:1200px)  {
	.container{
		width: 1172px;
	}
	
}

@media (min-width: 992px){
	.container {
		width: 960px;
	}
	}
@media (min-width: 768px){
	.container {
		width: 750px;
	}
}


.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 750px;

}
#meet-us, #services, #works, #about-us{
	padding:60px 0 ;
}




h1, .h1 , h2, .h2 , h3, .h3{
	margin-top: 20px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1{
	font-weight: 700;
	font-size: 46px;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
	color: #333333;
}
h3{
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4{
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
}
h5{
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}
h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-weight: 400;
	margin: 0 0 10px;
	display: block;

}
hr{
	width: 50px;
	border-color: #c59a6d;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #eee  ;
	border-left: 1px solid #eee  ;
	border-right: 1px solid #eee ;
}
li>a {
	color:#ffffff ;
	text-decoration: none;

	
	
}
a:hover,
a:focus{
	color: #c59a6d;
	text-decoration: none;
}

#home{
	
	background:url("../img/bg1.jpg") ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	min-height: 710px;
	margin: 0;
	padding-top: 60px;
	
}


.page-content{
	position: relative;
	z-index: 0;
}
.navmenu{
	top: 0;
  	right: 0;
  	bottom: 0;
	position: fixed;
	width: 270px;
	background: #1e2429;
	text-decoration: none;
	left: -300px;
	z-index: 10;
	transition: .3s;
	
	
}
.navmenu ul{
	list-style: none;
	margin: 0;
	pading: 0;
	padding-inline-start: 0;
}

.navmenu li {
	padding: 10px 15px;
	position: relative;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	

}

.margin{
	margin-top: 200px;
}
.toggle{
	text-decoration: none;
	font-size: 30px;
	position: fixed;
	color: #c0c0c0;
	left: 120px;
	z-index: 1;
	cursor: pointer;

}
.toggle:hover{
	color: #c59a6d;
}

#sidebartoggler{
	display: none;
}




#sidebartoggler:checked + .page-wrap .navmenu {
    left: 0px; }

#sidebartoggler:checked + .page-wrap .toggle {
    display: none; }

#meet-us{
	padding: 60px 0;
	min-height: 375px;
	
}
.col-md-8{
	
}
.text-center{
	text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#overview-video {
    background: url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
	
	
}
#overview-video .overlay {
    background: rgba(34, 34, 34, 0.85);
    height: auto;
    min-height: 200px;
    padding: 12% 0;
	
}


.button-box{
	size: 10px;
}
.space{
	padding-top: 40px;
}

.service{
	border: 1px solid #222;
    margin-top: 20px;
    margin-bottom: 0px;
    transition: all 0.3s;
    position: relative;
    padding: 60px 25px;
}
.service p{
	font-size: 14px;
	font-family: 'Lato',sans-serif;
	padding: top 20px; ;
}
.col-3{
	display: inline-block;
	width: 33%;
	padding: 0 15px;
}
#cta{
	background: #282f35;
    padding: 4% 0;
	position: relative;
}
a.btn.go-to-btn {
    text-transform: uppercase;
    border: 1px solid #c59a6d;
    word-spacing: 2px;
    padding: 7px 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    transition: all 0.5s;
	text-decoration: none;
}

a.btn.go-to-btn:hover{
	background-color: #c59a6d ;
	color: black;
}